<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DTU Resources</title>
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <script src="/libs/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="/scripts/admin-list-file.js"></script>
    <link rel="stylesheet" href="/libs/jquery-confirm.min.css">
    <script src="/libs/jquery-confirm.min.js"></script>
    <style>
        body {
            background-color: dimgrey;
        }
        .navbar-brand{
            margin-right: 0;
            font-size: 1.06rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">DTU Resources Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage">Manage<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/upload">Upload</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Modify
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/modify/add">Add classifiers</a>
                        <a class="dropdown-item" href="/admin/modify/addAlias">Add an alias</a>
                        <a class="dropdown-item" href="/admin/modify/changeAlias">View/delete an alias</a>
                        <a class="dropdown-item" href="/admin/modify/existing">Modify existing</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/me">Account Settings</a>
                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="list-group mx-auto col-sm-6 mt-2" data-id="{{parentID}}">
            {{#each files}}
            <li class="list-group-item" data-id="{{this.id}}">
                <div class="d-flex justify-content-between">
                    <span>{{this.filename}}</span>
                    <div>
                        <a href="/download/{{this.id}}" download="{{this.filename}}">
                            <button class="btn btn-primary">
                                <i class="fas fa-download"></i>
                            </button>
                        </a>
                        <button class="btn btn-danger remove">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-primary edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <small class="text-muted">Size: {{this.size}}</small>
                </div>
            </li>
            {{/each}}
        </div>
    </div>
</body>
</html>